#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.square {
    height: 31.25px;
    border: 1px solid black;
    width: 31.25px;
    box-sizing: border-box;
}